:root {
  --color-brand--1: #1b5b31;
  --color-brand--1-2: #21703d;
  --color-brand--2: #dcc1ab;

  --color-dark--1: #111;
  --color-dark--2: #222;
  --color-light--2: #f5f0ec;
  --color-light--3: #fff;
}

/****************/
/*Nawigacja*/
/****************/

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  /* padding: 2.4rem 9rem;   */
  height: 7.2rem;
  padding: 0 9.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 999;
}
.main-nav {
  display: flex;
}
.main-nav-list {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 4.8rem;
  user-select: none;
}
header ul li {
  list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  color: var(--color-dark--1);
  position: relative;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  display: flex;
  align-items: center;
}
.main-nav-link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--color-brand--1);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.main-nav-link:hover::before,
.main-nav-link:active::before {
  transform: scaleX(1);
  transform-origin: left;
}
.całete {
  display: flex;
  align-items: center;
  height: 72px;
}

.arrowdown {
  width: 12px;
  height: 12px;
}
.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 10;
  cursor: pointer;
}
.searchBox {
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 9rem;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}
.searchBox.active {
  right: 0;
}
.searchBox input {
  width: 100%;
  border: none;
  outline: none;
  height: 4rem;
  color: var(--color-brand--1);
  visibility: visible;
  font-size: 1.4rem;
  background-color: var(--color-light--3);
  border-bottom: 1px solid var(--color-brand--1);
}
.searchBtn {
  position: relative;
  left: 3rem;
  transition: 0.5s ease-in-out;
}
.searchBtn.active {
  left: 0;
}
.closeBtn {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  scale: 0;
}
.closeBtn.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  scale: 1;
}
.menuToggle {
  position: relative;
  display: none;
}
.sub--menu {
  position: absolute;
  background-color: #fff;
  top: 72px;
  line-height: 40px;
  list-style: none;
  box-shadow: 0 5px 25px rgb(0 0 0 /20%);
  border-radius: 0 0 8px 8px;
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
}
.main--menu:hover .sub--menu {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}
.sub--item {
  position: relative;
  padding: 0.6rem 0;
  cursor: pointer;
  box-shadow: inset 0px -30px 5px -30px rgba(0, 0, 0, 0.2);
}
.sub--item a {
  color: var(--color-dark--1);
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1.4rem 3rem;
}
.sub--item:hover {
  background-color: var(--color-brand--1-2);
}
.sub--item a:hover {
  color: var(--color-light--3);
}
.sub--item:last-child:hover {
  border-radius: 0 0 8px 8px;
}
/****************/
/*Sekcja hero*/
/****************/
main {
  margin-top: 72px;
}
.slider {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.slide {
  width: 100vw;
  transition: all 0.5s;
}
.section-hero {
  background-color: var(--color-brand--2);
  width: 100%;
  height: 100%;
  position: relative;
}
.imgprawa {
  width: 100%;
  height: 100%;
}
.lewastrona {
  display: flex;
  flex-direction: column;
  padding: 14rem 10rem;
}
.h1--slider {
  font-size: 5.4rem;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 7rem;
}
.text--slider {
  margin-top: 4.4rem;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
}
.slider--przyciski {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3.6rem;
  margin-top: 7.2rem;
}
.slider--prawa {
  width: 100%;
  height: 100%;
}
.slider--arrow {
  display: flex;
  position: absolute;

  gap: 3.2rem;
  background: #f5f0ec;
  padding: 2.4rem 3.2rem;
  right: 0;
  bottom: 0;
}
.arrow {
  display: block;
  font-size: 2.4rem;
  cursor: pointer;
  background-color: var(--color-light--2);
}
/****************/
/*Sekcja Offering*/
/****************/
.section--offering {
  background-color: var(--color-light--2);
  padding: 8rem 12rem;
}
.container2,
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 10rem;
}

.offering--title,
.company--title,
.realizacja--title {
  color: var(--color-brand--1);
  font-size: 1.2rem;
  letter-spacing: -0.12px;
  font-weight: 400;
  line-height: 150%;
}
.offering--header,
.company--header,
.realizacja--header {
  color: var(--color-dark--1);
  font-family: Montserrat;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.44px;
  margin-top: 1.6rem;
  width: 709px;
}
.text--oferta {
  font-style: italic;
}
.offering--text,
.company--text {
  width: 70.1rem;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
  margin-top: 3.2rem;
}
.boxx {
  width: 100%;
  height: 370px;
  padding: 48px 40px;
  margin-top: 9.6rem;
  border-radius: 28px;
  background-color: var(--color-light--3);
  margin-bottom: 8rem;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s;
}
.boxx:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.icon {
  width: 4rem;
  height: 4rem;
}
.title--box {
  color: var(--color-dark--1);
  font-family: Montserrat;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
  letter-spacing: -1.4px;
  margin-top: 3.4rem;
}
.text--box {
  max-width: 29.8rem;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-top: 1.2rem;
}
.text--arrow {
  display: flex;
  gap: 1rem;
  margin-top: 6.2rem;
}
.text--arrow a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-brand--1);
  padding-bottom: 2 px;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}
.text--arrow a:hover {
  color: var(--color-brand--1-2);
  border-bottom: 1px solid transparent;
}
/****************/
/*Sekcja Company*/
/****************/
.company--section {
  background-color: var(--color-brand--1);
}
.imglewa {
  width: 100%;
  height: 100%;
}
.company--prawa {
  padding: 13.5rem 9.6rem;
}
.company--title {
  color: var(--color-light--3);
}
.company--header {
  color: var(--color-light--3);
  width: 25rem;
}
.company--text {
  color: var(--color-light--3);
  width: 500px;
  margin-top: 4rem;
  margin-bottom: 7.2rem;
}
/****************/
/*Sekcja Realizacja*/
/****************/
.section--realizacje {
  background-color: var(--color-brand--2);
  padding: 12rem 0 4.4rem 0;
}

.realizacja--header {
  margin-bottom: 9.6rem;
}
.container--macy {
  position: relative;
}
.btn {
  color: var(--color-dark--1);
  background-color: none;
  border: 1px solid var(--color-dark--1);
  border-radius: 20rem;
  padding: 12px 22px 14px 22px;
  text-decoration: none;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  transition: all 0.5s;
}
.btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  scale: 1.03;
}
.show {
  margin-bottom: 0px;
}
.show,
.hide {
  position: absolute;
  bottom: 4.6rem;
  z-index: 10;
  left: 47%;
  text-align: center;
}

.hide {
  display: none;
  bottom: -25px;
}
.show:target {
  display: none;
}
.show:target ~ .hide {
  display: block;
}
.show:target ~ .panel {
  max-height: 2700px;
}
.show:target ~ .fade {
  margin-top: 20px;
  display: none;
}
.panel {
  position: relative;
  margin: 2em auto;
  max-height: 1500px;
  overflow: hidden;
  transition: all 1s;
}
.fade {
  background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
  height: 70%;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  pointer-events: none;
}

/* Styl dla tła overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
  z-index: 12;
  border-radius: 0 0 2rem 2rem;
}
/* Styl dla popupu */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
  background-color: var(--color-brand--1);
  border-radius: 0 0 2rem 2rem;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  transition: all 0.5s;
}
.przycisk--popup {
  position: fixed;
  top: 93%;
  left: 0;
  width: 100%;
  border-radius: 0 0 2rem 2rem;
  font-size: 1.4rem;
  z-index: 12;
  border: 1px solid var(--color-light--3);
  color: var(--color-light--3);
  box-shadow: inset;
  background-color: var(--color-brand--1);
  padding: 12px 22px 14px 22px;
  cursor: pointer;
  transition: all 0.5s;
}
.przycisk--popup:hover {
  border: 1px solid var(--color-light--3);
  color: var(--color-light--3);
  box-shadow: inset;
  background-color: var(--color-brand--1-2);
  cursor: pointer;
}
/*Sekcja Instagram*/
/****************/
.section--instagram {
  padding: 6rem 20rem;
  background-color: var(--color-light--3);
}
.container--huge {
  padding: 120px 110px;
  background-color: var(--color-brand--1);
  align-items: left;
  gap: 6.4rem;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.instagram--header {
  color: var(--color-light--2);
  font-family: Montserrat;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1px;
}
.special--text--instagram {
  font-family: Inter;
  font-style: italic;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1px;
}
.text--instagram {
  color: var(--color-light--2);
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  margin-bottom: 2.4rem;
  width: 157px;
}
/****************/
/*Sekcja footer*/
/****************/
.footer {
  background-color: var(--color-dark--1);
  padding: 8rem 25.6rem;
}
.footer--area1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer--flex--box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.footer--text {
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  text-decoration: none;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
  color: var(--color-light--2);
}
.footer--area2 {
  margin: 6.2rem 0 6.2rem 0;
}
.footer--area2 {
  width: 100%;
  height: 1px;
  background-color: var(--color-light--2);
}
/*.footer--area3  */
.footor--flex--box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12rem;
}
.footer--links,
.footer--adres,
.footer-last {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style-type: none;
}
.footer-last {
  gap: 1.6rem;
}
.footor--flex--box3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
